{% extends 'base.html' %} 
{% load static %} 

{% block head %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/pairings/pairing-index.css' %}"
/>
{% endblock %}

{% block content %}

<section class="page-header">
  <h1>All Cheese Pairings</h1>
  <img src="{% static 'images/wine.svg' %}" alt="wine" />
  <img src="{% static 'images/cracker.svg' %}" alt="cracker" />
  <img src="{% static 'images/fruit.svg' %}" alt="fruit" />
  <img src="{% static 'images/chocolate.svg' %}" alt="chocolate" />
</section>

<section class="card-container">
  {% for pairing in pairing_list %}
  <div class="card">
    <div class="card-bg"
    {% if pairing.type == 'W'%}
      style="background-color: #660708 "
    {% elif pairing.type == 'F'%}
      style="background-color: #370617 "
    {% elif pairing.type == 'C'%}
      style="background-color: #b08968 "
    {% elif pairing.type == 'Ch'%}
      style="background-color: #37261c"
    {% endif %}
    >
    </div>
    <a href="{% url 'pairing_detail' pairing.id %}">
      <div class="card-content">
        <h2>{{ pairing.name }}</h2>
        <p>Type: {{ pairing.get_type_display }}</p>
        <p>Added By: {{ pairing.user }}</p>
      </div>
    </a>
  </div>
  {% endfor %}
</section>

{% endblock %}