{% extends 'base.html' %} 
{% load static %} 

{% block head %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/pairings/pairing-details.css' %}"
/>
{% endblock %}

{% block content %}
  
<div class="card"
  {% if pairing.type == 'W'%}
    style="background-color: #660708 "
  {% elif pairing.type == 'F'%}
    style="background-color: #370617 "
  {% elif pairing.type == 'C'%}
      style="background-color: #b08968 "
  {% elif pairing.type == 'Ch'%}
      style="background-color: #37261c"
  {% endif %}
>
  <div class="card-content">
    <h2>{{ pairing.name }}</h2>
    <p>Type: {{ pairing.get_type_display }}</p>
  </div>
</div>
<a href="{% url 'pairings_update' pairing.id %}" class="btn warn">Edit</a>
<a href="{% url 'pairings_delete' pairing.id %}" class="btn danger">Delete</a>

{% endblock %}