{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  rel="stylesheet" 
  type="text/css" 
  href="{% static 'css/cheeses/cheese-details.css' %}"
/>
{% endblock %}

{% block content %}

<section class="cheese-container">
  <div class="cheese-img">
    <img 
      src="{% static 'images/cheese-tall-slice.svg' %}" 
      alt="A tall cheese"
    >
  </div>
  <div class="cheese-details">
    <h1>{{ cheese.name }}</h1>
    {% if cheese.age > 0 %}
      <h2>A {{ cheese.brand }} cheese, aged for {{ cheese.age }} years </h2>
    {% else %}
      <h2>A fresh {{ cheese.brand }} cheese </h2>
    {% endif %}
    <p>{{ cheese.description }}</p>
    <div class='cheese-actions'>
      <a href="{% url 'cheeses_update' cheese.id %}" class='btn warn'>Edit</a>
      <a href="{% url 'cheeses_delete' cheese.id %}" class='btn danger'>Delete</a>
    </div>
  </div>
</section>
<div class="feedings-toy-container">
  <section class="reviews">
    <div class="subsection-title">
      <h2>Reviews</h2>
      <img 
        src="{% static 'images/cheese-sector.svg' %}" 
        alt="Cheese Sector"
      />
      <img 
        src="{% static 'images/cheese-face-left.svg' %}"
        alt="Hole-y Cheese"
      />
      <img 
        src="{% static 'images/cheese-wheel-slice.svg' %}" 
        alt="Cheese Wheel"
      />
    </div>
    <h3>Review this Cheese</h3>
    <form
    action="{% url 'add_review' cheese.id %}"
    method="post" 
    class="subsection-content"
    >
    {% csrf_token %}
    {{ review_form.as_p }}
    <button type="submit" class="btn submit">Add Review</button>
  </form>
  {% if cheese.review_set.all.count %}
  <div class='review-container'>
      {% for review in cheese.review_set.all %}
      <div class='review'>
        <h3>Rating: {{review.get_rating_display}}</h3>
        <h3>{{review.content}}</h3>
      </div>
      {% endfor %}
    </div>
  {% else %}
    <div class='subsection-content'>
      <p>{{cheese.name}} has no reviews</p>
    </div>
  {% endif %}
  </section>
  <section class="pairings">
    <div class="subsection-title">
      <h2>Pairings</h2>
      <img src="{% static 'images/string.svg' %}" alt="A ball of string" />
      <img src="{% static 'images/mouse.svg' %}" alt="A mouse" />
      <img src="{% static 'images/fish.svg' %}" alt="A fishy toy" />
    </div>
    <h3>{{ cheese.name }}'s Pairings</h3>
    <div class="subsection-content">
      {% if cheese.pairings.count %}
        {% for pairing in cheese.pairings.all %}
          <div class="pairing-container">
            <div 
              class="color-block"
              style="background-color: {{ pairing.color }}"
            ></div>
            <a href="{% url 'pairing_detail' pairing.id %}">
              <p>{{ pairing.name }} {{ pairing.get_type_display }}</p>
            </a>
          </div>
        {% endfor %}
      {% else %}
        <p class="no-pairings">{{pairing.name}} doesn't have any pairings</p>
      {% endif %}
    </div>
    <h3>Available Pairings</h3>
    <div class="subsection-content">
      {% comment %} We'll display available toys here {% endcomment %}
      {% if pairings.count %}
        {% for pairing in pairings.all %}
          <div class="pairing-container">
            <div 
              class="color-block"
              style="background-color: {{ pairing.color }}"
            ></div>
            <a href="{% url 'pairing_detail' pairing.id %}">
              <p>{{ pairing.name }} {{ pairing.get_type_display }}</p>
            </a>
            <form action="{% url 'assoc_pairing' cheese.id pairing.id %}" method="post">
              {% csrf_token %}
              <button type="submit" class="btn submit">Add Pairing</button>
            </form>
          </div>
        {% endfor %}
      {% else %}
        <p class="all-pairings">
          {{cheese.name}} already has all the available pairings
        </p>
      {% endif %}
    </div>
  </section>
</div>

{% endblock %}